.BottomBar {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; /* Vertically center items within the bar */
    padding: 10px 20px; /* Add padding for spacing */
    background-color: rgba(39, 38, 53, 1);
    color: rgba(232, 233, 243, 1);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

.ContactMe-Text {
    color: rgba(232, 233, 243, 1);
    font-weight: bold;
}

a.ContactMe-LinkedIn {
    color: rgba(232, 233, 243, 1);
}