/*  src/Title.css  */
.Title {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: baseline;
    padding: 1.5vw;
    margin-bottom: 1vw;
    background-color: rgba(39, 38, 53, 1);
    color: rgba(232, 233, 243, 1);
}

/* Target the specific items within .Title that you want to move to the right */
.Main-Title {
    margin-left: 3vw; /* Adjust the margin value to move the items to the right */
    color: rgba(232, 233, 243, 1);
    font-size: 3vw;
}

.Title-Subtitle {
    font-size: 2vw;
    margin-left: 3vw; /* Adjust the margin value to move the items to the right */
    color: rgba(232, 233, 243, 1);
}