/*  src/Title.css  */
.Title {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 1em;
    margin-bottom: 2em;
    background-color: rgba(39, 38, 53, 1);
    color: rgba(232, 233, 243, 1);
}

.Title-Subtitle {
    color: rgba(255, 255, 255, 0.75);
}